<div class=" animate-fade mt-2" data-controller="removals" data-action="animationend->removals#remove">
  <p data-test="notice" class="px-4  text-green-500"><%= @notice %></p>
  <p data-test="alert" class="px-4  text-red-500"><%= @alert %></p>
</div>
